<table>
    <tr>
        <td><img src="../../../assets/imagenes/logo.png"></td>
        <td id="Titulo">
            <h1>TELECO-SAT</h1>
        </td>
        <td id="Login" rowspan="2">
            <app-login></app-login>            
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <nav class="nav-wrapper blue">
                <div class="contaniner">
                    <a href="" class="breand-logo" (click) = activarComponenteInicio()>INICIO</a>
                    <a href="" class="breand-logo" (click) = activarComponenteAdmin()>ADMINISTRADOR</a>
                    <a href="" class="breand-logo" (click) = modoPrueba()>PRUEBA</a>
                </div>
            </nav>
        </td>
    </tr>
</table>