<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<table id="Contenido">
    <tr>
        <td id="Header" colspan="3">
            <app-header></app-header>
        </td>
    </tr>
    <tr>
        <td id="LatIz">
          <app-lat-iz></app-lat-iz>
        </td>
        <td id="Body">
          <app-body></app-body>
        </td>
        <td id="LatDer">
          <app-latder></app-latder>
        </td>
    </tr>
    <tr>
        <td id="Footer" colspan="3">
          <app-footer></app-footer>
        </td>
    </tr>
</table>

</body>
</html>