<h3>FORMULARIO PRODUCTOS</h3>
<br>
<p>Introduce los datos para un nuevo producto</p>
<br>
<div class="container">
    <table>
        <!--Nombre del producto-->
        <tr>
            <td>
                <p>Nombre: *</p>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Categoria del producto-->
        <tr>
            <td>
                <p>Categoria: *</p>
            </td>
            <td>
                <select name="cat" id="cat">
                    <option value="conectores">Conectores</option>
                    <option value="antenas">Antenas</option>
                    <option value="decodificadores">Decodificadores</option>
                    <option value="componentes">Componentes</option>
                </select>
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Descripción del producto-->
        <tr>
            <td>
                <p>Descripción: *</p>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Precio del producto-->
        <tr>
            <td>
                <p>Precio: *</p>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Stock-->
        <tr>
            <td>
                <p>Stock: *</p>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Url de la fotografia del producto-->
        <tr>
            <td>
                <p>Url del producto: *</p>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <!----------------------------------------------->
    </table>
</div>
