<h3>FORMULARIO PRODUCTOS</h3>
<br>
<p>Introduce los datos para un nuevo producto</p>
<br>
<div class="container">
    <table>
        <!--Nombre del producto-->
        <tr>
            <td>
                <p>Nombre: *</p>
            </td>
            <td>
                <input type="text" [(ngModel)]="nombre">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Categoria del producto-->
        <tr>
            <td>
                <p>Categoria: *</p>
            </td>
            <td>
                <input type="text" [(ngModel)]="categoria">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Descripción del producto-->
        <tr>
            <td>
                <p>Descripción: *</p>
            </td>
            <td>
                <input type="text" [(ngModel)]="descripcion">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Precio del producto-->
        <tr>
            <td>
                <p>Precio: *</p>
            </td>
            <td>
                <input type="text" [(ngModel)]="precio">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Stock-->
        <tr>
            <td>
                <p>Stock: *</p>
            </td>
            <td>
                <input type="text" [(ngModel)]="stock">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Url de la fotografia del producto-->
        <tr>
            <td>
                <p>Url del producto: *</p>
            </td>
            <td>
                <input type="text" [(ngModel)]="urlFoto">
            </td>
        </tr>
        <!----------------------------------------------->
        <!--Boton de confirmar cambios-->
        <tr>
            <td colspan="2">
                <button id="BotonActualizar" (click)="EnviarBaseDatos()">Actualizar</button>
            </td>
        </tr>
    </table>
</div>
