<h4>NUEVO USUARIO</h4>
<table>
    <tr>
        <td>
            <p>Usuario:*</p>
        </td>
        <td>
            <input type="text" placeholder="Usuario">
        </td>
    </tr>
    <tr>
        <td>
            <p>Contraseña:*</p>
        </td>
        <td>
            <input type="password" placeholder="Contraseña">
        </td>
    </tr>
    <tr>
        <td>
            <p>Repetir contraseña:*</p>
        </td>
        <td>
            <input type="password" placeholder="Repetir Contraseña">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button>Añadir</button>
        </td>
    </tr>
</table>
